<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons _ngcontent-dmm-c138="" slot="start" class="buttons-first-slot sc-ion-buttons-md-h sc-ion-buttons-md-s md hydrated"><ion-menu-button _ngcontent-dmm-c138="" class="md button in-toolbar ion-activatable ion-focusable hydrated"></ion-menu-button></ion-buttons>
   
    <ion-title>Video</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Opinion personal</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <iframe width="310" height="210" src="https://www.youtube.com/embed/lODQURQc3zw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <ion-label> <p>ㅤ</p></ion-label>
      <ion-card-title>Tarea 3 Ionic App</ion-card-title>
      <ion-card-subtitle>Desarrollado por Jose Oleaga</ion-card-subtitle>
    </ion-card-content>
  </ion-card>


</ion-content>
